---
---

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<section 
  id="contact" 
  class="animate-fade-up flex flex-col md:flex-row justify-center items-center mx-auto py-16 xl:w-[80%] sm:w-full xs:w-[75%] gap-10"
>
  <div class="sm:w-[50%] xs:w-full">
    <h2 class="text-5xl w-fit font-bold mb-3 bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-green-500 to-green-900">
      Contact Me
    </h2>
    <p class="text-gray-600 dark:text-gray-300 mb-6">
      Feel free to reach out for collaboration or chat anytime!
    </p>

    <p class="text-gray-600 dark:text-gray-300 mb-3 flex items-center gap-2">
      Find me on:
      <a href="https://www.linkedin.com/in/sandra-kannik-8a763b13a/" target="_blank" class="hover:scale-110 transition-transform">
        <i class='bx bxl-linkedin text-xl'></i>

      </a>
      <a href="https://github.com/ssandrak" target="_blank" class="hover:scale-110 transition-transform">
        <box-icon type="logo" name="github" size="md"></box-icon>
      </a>
    </p>

    <form id="form" autocomplete="off" class="flex flex-col py-2 mt-1">
      <button id="submitButton" type="button"
      class="rounded-md px-3 py-2 text-sm text-white bg-gradient-to-r from-emerald-400 to-green-600 hover:from-emerald-500 hover:to-green-700 transition-all shadow-sm hover:shadow-md flex items-center gap-1 w-fit">
      Send Message <box-icon name="send" size="sm" color="white"></box-icon>
    </button>  
    </form>
  </div>


  <img src="/images/apple.png" alt="Apple logo" class="h-[220px] self-center md:w-[20%] xs:w-[10%] max-w-xs dark:invert" />
</section>

<script type="module" src="assets/sendEmail.js"></script>
